.tabs-container {
    padding-bottom: 5px;
    border-bottom: 1px solid #f2f2f2;
    display: flex;
    flex-direction: column;
}

.tabs-container .tabs-inner {
    display: flex;
    flex-direction: column;
    overflow: auto;
}

.tabs-container .tabs-row {
    background-color: #f2f2f2;
    padding: 0 15px;
    margin-top: -5px;
    margin-left: -5px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: stretch;
}
.tabs-container .tabs-row .tab {
    /* flex-grow: 1; */
    cursor: pointer;
    border-radius: 10px;
    border-bottom-left-radius: 0px;
    border-bottom-right-radius: 0px;
    background-color: #d1d1d1;
    margin: 0px;
    margin-top: 5px;
    margin-left: 5px;
    padding: 5px 15px;
    user-select: none;
    display: flex;
    flex-direction: row;
    white-space: nowrap;
    justify-content: center;
}

.tabs-container .tabs-row .tab.active {
    cursor: default;
    background-color: #808080;
    color: #fff;
}

.tabs-body {
    display: none;
}