<link rel="stylesheet" href="assets-bower/comps/src/tabs/tabs.css" />
<div class="tabs-container">
    <div class="tabs-inner">
        <div class="tabs-row">
            <div
                ng-repeat="tab in vm.config.tabs"
                class="tab"
                ng-style="{'z-index': vm.zIndex($index)}"
                ng-class="{active: vm.config.active == $index, before: $index < vm.config.active, after: $index > vm.config.active}"
                ng-click="vm.tabClickHandler($index)"
            >
                {{tab.text}}
            </div>
            <div class="tab"></div>
        </div>
    </div>
</div>

<div class="tabs-body"></div>